<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namesapce="com.quiz.weather_history.mapper.Weatherhisorymapper">
 	<select id="selectWeatherhistory" resultType="com.quiz.weather_history.domain.Weatherhistory">
 		SELECT 
 		 * 
 		 FROM
 		 `weather_history`;
 	</select>
 </mapper>