@charset "UTF-8";
header {height:100px;}
.reserve {height:250px;}
footer {height:80px;}

.reserve .real-time-reserved {background-color:#B1520F;}
.reserve .confirm {background-color: #CF6317;}
.reserve .inquiry {background-color:#B1520F;}

nav {height:40px; background-color:#E3871F;}
.nav-item .nav-link:hover {background-color:#A76417;}

.reserve-confirm {font-size:25px; color:#fff;}